name: Publish Docker

on:
  push:
    branches:
      - master

jobs:
  push_to_registry:
    name: Push docker image to Docker Hub
    runs-on: ubuntu-latest

    strategy:
      matrix:
        image: [api, web, postgres]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push Docker image
      run: |
        if [ "${{ matrix.image }}" = "postgres" ]; then
          docker pull postgres:15-alpine
          docker tag postgres:15-alpine ${{ secrets.DOCKERHUB_USER }}/colina-docker:${{ matrix.image }}-latest
          docker push ${{ secrets.DOCKERHUB_USER }}/colina-docker:${{ matrix.image }}-latest
        else
          docker build -t ${{ secrets.DOCKERHUB_USER }}/colina-docker:${{ matrix.image }}-latest ./${{ matrix.image }}
          docker push ${{ secrets.DOCKERHUB_USER }}/colina-docker:${{ matrix.image }}-latest
        fi

    - name: Metadata tags for Docker images
      uses: docker/metadata-action@v3
      with:
        images: ${{ secrets.DOCKERHUB_USER }}/colina-docker:${{ matrix.image }}-latest
        tags: latest, v1.0
